// --- ACTIVITIES ---
.day {
    margin: 0;
    font-size: 20px;
}

.day-number{
    margin: 0;
}

.dropdown-menu.show {
    min-width: 4rem;
}

.fixed-width{
    width: 60px !important;
}
// --- / ACTIVITIES ---